<app-loading *ngIf="loading"></app-loading>
<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let character of characters">
                        <td>{{ character.id }}</td>
                        <td><img src="{{ character.thumbnail.path +'.'+ character.thumbnail.extension}}" alt="Imagen"
                                class="img-thumbnail rounded shadow"></td>
                        <td>{{ character.name }}</td>
                        <td>{{ character.description }}</td>
                        <td><button class="btn btn-primary" (click)="openPopup(character.id)">View...</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{character.name}} Detail</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col sm-6">
                                <img src="{{temporaryPath}}" alt="Imagen"
                                class="img-thumbnail rounded shadow">
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id">Id:</label>
                                    <input class="form-control" id="id" type="text" name="id" value="{{character.id}}"
                                        disabled />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input class="form-control" id="name" type="text" name="name"
                                        value="{{character.name}}" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col sm-12">
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" id="description" type="text" name="description"
                                        value="{{character.description}}" rows="3" disabled></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="resourceURI">Resource URI:</label>
                                    <input class="form-control" id="resourceURI" type="text" name="resourceURI"
                                        value="{{character.resourceURI}}" disabled />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="modified">Modified:</label>
                                    <input class="form-control" id="modified" type="text" name="modified"
                                        value="{{character.modified}}" disabled />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>