<app-loading *ngIf="loading"></app-loading>
<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Path</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let logg of loggs">
                        <td>{{ logg.loggId }}</td>
                        <td>{{ logg.username }}</td>
                        <td>{{ logg.loggPath }}</td>
                        <td>{{ logg.loggDate|date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>